html {
    margin: 0;
    padding: 0;
    background-image: url('./stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    height: 5rem;
    width: 100%;
    background-color: rgb(50, 151, 209);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: white;
    overflow-y: auto;
}

footer {
    height: 5rem;
    width: 100%;
    background-color: rgb(50, 151, 209);
}

table {
    table-layout: auto;
    width: 90%;
}

th {
    height: 3rem;
    text-align: left;
    font-size: larger;
}

td {
    text-align: left;
    border-top: thin solid rgba(255, 255, 255, 0.068);
    height: 6.5rem;
}

input {
    position: relative;
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    padding: 10px;
    z-index: 0;
}

.search-results-wrapper {
    position: absolute;
    width: 25rem;
    max-height: 15rem;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-result-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 2.5rem;
    color: rgb(0, 0, 0);
    height: 2rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    border-bottom: thin solid rgba(44, 41, 41, 0.486);
}

.search-result-item:hover {
    background-color: #474c5528;
}

.selling-price {
    color: rgb(9, 255, 0);
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.part-select {
    width: 10rem;
}

.modebar {
    display: none !important;
}

.td-chart {
    width: 50rem;
    padding: 0;
}

@keyframes shine {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

/* @media only screen and (max-width: 750px) {
    td {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
} */